# Data Wrangling with Pandas

We've seen how to get data with Python. Now let's do some stuff! From here on, we're going to mostly use the PyData stack rather than Python built-in functionality.

Our objective in this section is to learn enough to clean the larger sample of Chicago Health Inspection data and get it ready for modeling.

## Preliminaries: DataFrames

As mentioned, the core data structure in pandas is called a DataFrame. A DataFrame is a tabular data structure, holding many columns, similar to a spreadsheet.

The **Key Features** are

* Easy handling of **missing data**
* **Size mutability**: columns can be inserted and deleted from DataFrames
* Automatic and explicit **data alignment**: objects can be explicitly aligned to a set of labels, or the data can be aligned automatically
* Powerful, flexible **group by functionality** to perform split-apply-combine operations on data sets
* Intelligent label-based **slicing**, **fancy indexing**, and **subsetting** of large data sets
* Intuitive **merging and joining** data sets
* Flexible **reshaping and pivoting** of data sets
* **Hierarchical labeling** of axes
* Robust **IO tools** for loading data from flat files, Excel files, databases, and HDF5
* **Time series functionality**: 
  * date range generation and frequency conversion
  * moving window statistics
  * moving window linear regressions
  * date shifting and lagging, etc.

In [4]:
import pandas as pd

In [34]:
dta = pd.read_csv("data/health_inspection_chi.csv")

Pandas provides labelled **indices** to access rows and columns, should they have natural labels.

In [6]:
dta.index

RangeIndex(start=0, stop=25000, step=1)

In [25]:
dta.columns

Index(['address', 'aka_name', 'city', 'dba_name', 'facility_type',
       'inspection_date', 'inspection_id', 'inspection_type', 'latitude',
       'license_', 'location', 'longitude', 'results', 'risk', 'state',
       'violations', 'zip'],
      dtype='object')

For example, with this data set we have a natural unique identifier in the `inspection_id` column. We might wish to make this our index.

In [26]:
dta.head()

,address,aka_name,city,dba_name,facility_type,inspection_date,inspection_id,inspection_type,latitude,license_,location,longitude,results,risk,state,violations,zip
0,2804 N CLARK ST,Wells Street Popcorn,CHICAGO,Wells Street Popcorn,Restaurant,2010-02-01T00:00:00.000,68091,Canvass,41.932921,1954774.0,"{'type': 'Point', 'coordinates': [-87.64515454...",-87.645155,Pass,Risk 2 (Medium),IL,NaN,60657.0
1,6744 N SHERIDAN RD,RICE THAI CAFE,CHICAGO,RICE THAI CAFE,Restaurant,2015-08-21T00:00:00.000,1482935,Canvass Re-Inspection,42.004881,2354674.0,"{'type': 'Point', 'coordinates': [-87.66101071...",-87.661011,Pass,Risk 1 (High),IL,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,60626.0
2,160-164 E SUPERIOR ST,GINO'S EAST PIZZERIA,CHICAGO,GINO'S EAST PIZZERIA,Restaurant,2015-07-28T00:00:00.000,1447916,Suspected Food Poisoning Re-inspection,41.895863,1697132.0,"{'type': 'Point', 'coordinates': [-87.62325304...",-87.623253,Pass,Risk 1 (High),IL,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,60611.0
3,5844-5846 N BROADWAY,RAS DASHEN ETHIOPIAN RESTAURANT INC,CHICAGO,RAS DASHEN ETHIOPIAN RESTAURANT INC,Restaurant,2017-01-04T00:00:00.000,1978933,Canvass,41.988326,1122395.0,"{'type': 'Point', 'coordinates': [-87.66036036...",-87.660360,Fail,Risk 1 (High),IL,"16. FOOD PROTECTED DURING STORAGE, PREPARATION...",60660.0
4,2352-2358 N MILWAUKEE AVE,EAST ROOM,CHICAGO,EAST ROOM,Liquor,2013-11-18T00:00:00.000,1375515,License Re-Inspection,41.923873,2263696.0,"{'type': 'Point', 'coordinates': [-87.69916285...",-87.699163,Pass,Risk 3 (Low),IL,NaN,60647.0

In [27]:
dta = dta.set_index('inspection_id')

In [28]:
dta.index

Int64Index([  68091, 1482935, 1447916, 1978933, 1375515, 1434800, 1106632,
            1981312, 1501267, 2129593,
            ...
            1387782,  679681, 1981776, 2009959, 1770545, 1482355, 1459253,
            1751851, 2102939, 2009279],
           dtype='int64', name='inspection_id', length=25000)

In [29]:
dta.head()

,address,aka_name,city,dba_name,facility_type,inspection_date,inspection_type,latitude,license_,location,longitude,results,risk,state,violations,zip
inspection_id,,,,,,,,,,,,,,,,
68091,2804 N CLARK ST,Wells Street Popcorn,CHICAGO,Wells Street Popcorn,Restaurant,2010-02-01T00:00:00.000,Canvass,41.932921,1954774.0,"{'type': 'Point', 'coordinates': [-87.64515454...",-87.645155,Pass,Risk 2 (Medium),IL,NaN,60657.0
1482935,6744 N SHERIDAN RD,RICE THAI CAFE,CHICAGO,RICE THAI CAFE,Restaurant,2015-08-21T00:00:00.000,Canvass Re-Inspection,42.004881,2354674.0,"{'type': 'Point', 'coordinates': [-87.66101071...",-87.661011,Pass,Risk 1 (High),IL,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,60626.0
1447916,160-164 E SUPERIOR ST,GINO'S EAST PIZZERIA,CHICAGO,GINO'S EAST PIZZERIA,Restaurant,2015-07-28T00:00:00.000,Suspected Food Poisoning Re-inspection,41.895863,1697132.0,"{'type': 'Point', 'coordinates': [-87.62325304...",-87.623253,Pass,Risk 1 (High),IL,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,60611.0
1978933,5844-5846 N BROADWAY,RAS DASHEN ETHIOPIAN RESTAURANT INC,CHICAGO,RAS DASHEN ETHIOPIAN RESTAURANT INC,Restaurant,2017-01-04T00:00:00.000,Canvass,41.988326,1122395.0,"{'type': 'Point', 'coordinates': [-87.66036036...",-87.660360,Fail,Risk 1 (High),IL,"16. FOOD PROTECTED DURING STORAGE, PREPARATION...",60660.0
1375515,2352-2358 N MILWAUKEE AVE,EAST ROOM,CHICAGO,EAST ROOM,Liquor,2013-11-18T00:00:00.000,License Re-Inspection,41.923873,2263696.0,"{'type': 'Point', 'coordinates': [-87.69916285...",-87.699163,Pass,Risk 3 (Low),IL,NaN,60647.0

## Indexing

To look at a column from a DataFrame, you can either use attribute lookup.

In [30]:
dta.address

inspection_id
68091                         2804 N CLARK ST
1482935                    6744 N SHERIDAN RD
1447916                 160-164 E SUPERIOR ST
1978933                  5844-5846 N BROADWAY
1375515             2352-2358 N MILWAUKEE AVE
1434800                     4140 W Addison ST
1106632                    5657 N LINCOLN AVE
1981312                     1234 N HALSTED ST
1501267                           3700 S LOWE
2129593                    2506 N LARAMIE AVE
565226           131 N CLINTON ST BLDG BOOTH26
2102944                    3450 N LINCOLN AVE
1482500                       4445 N BROADWAY
1684292                       200 W MONROE ST
1546447                 1431 N NORTH PARK AVE
2169836                       2935 N BROADWAY
1229384                  1366 N MILWAUKEE AVE
2072068                     11601 W TOUHY AVE
1227664                        3956 W 63RD ST
2088450                    1424 W CHICAGO AVE
1202567                        3350 W 47th ST
2049483                        2334 E 75TH ST
233722                       3121 W CERMAK RD
2098892                 5467 S UNIVERSITY AVE
2104803                       3508 N BROADWAY
1198862                     2256 N ELSTON AVE
1154350                         317 E 51ST ST
284278                3813-3815 W CHICAGO AVE
1473477                     3059 S PULASKI RD
88620                      6059 N LINCOLN AVE
                          ...
537512                         401 E 111TH ST
1092801                    3450 N LINCOLN AVE
1516702                     6190 S ARCHER AVE
2130187                     4046 N LEAVITT ST
614248                         535 S STATE ST
1575899    3800 S DR MARTIN LUTHER KING JR DR
2129554                   1025 W VAN BUREN ST
250306                     1814 W CHICAGO AVE
1151310                     5833 S KEDZIE AVE
1591458                     205 W Randolph ST
1633153                       4220 N Richmond
417333                          727 E 87TH ST
2129830                        6452 W 63RD ST
1300914                 1541 W BRYN  MAWR AVE
158246                       2130 W CERMAK RD
1386114               6560 S STONY ISLAND AVE
1981970                     11601 W TOUHY AVE
2049937                    10001 S Pulaski RD
2070153                    5613 W CORCORAN PL
1236222                    5806 N WESTERN AVE
1387782              8200 S COTTAGE GROVE AVE
679681                      2703 N HALSTED ST
1981776                          7350 S Evans
2009959                       1442 W 103RD ST
1770545                     731 N DEARBORN ST
1482355                  4400-4404 N CLARK ST
1459253                3709-3713 N HARLEM AVE
1751851                       1816 N CLARK ST
2102939                        1501 E 53RD ST
2009279                      2154 W DEVON AVE
Name: address, Length: 25000, dtype: object

Or you can use the **getitem** syntax that relies on square brackets `[]`, which is familiar from dealing with dictionaries (uses `__getitem__`).

In [ ]:
dta['address']

These two operations return pandas **Series** objects. **Series** are like single-column DataFrames. If you want to preserve the DataFrame type, index the DataFrame with a list.

In [31]:
dta[['address']]

                                           address
inspection_id
68091                             2804 N CLARK ST
1482935                        6744 N SHERIDAN RD
1447916                     160-164 E SUPERIOR ST
1978933                      5844-5846 N BROADWAY
1375515                 2352-2358 N MILWAUKEE AVE
1434800                         4140 W Addison ST
1106632                        5657 N LINCOLN AVE
1981312                         1234 N HALSTED ST
1501267                               3700 S LOWE
2129593                        2506 N LARAMIE AVE
565226               131 N CLINTON ST BLDG BOOTH26
2102944                        3450 N LINCOLN AVE
1482500                           4445 N BROADWAY
1684292                           200 W MONROE ST
1546447                     1431 N NORTH PARK AVE
2169836                           2935 N BROADWAY
1229384                      1366 N MILWAUKEE AVE
2072068                         11601 W TOUHY AVE
1227664                            3956 W 63RD ST
2088450                        1424 W CHICAGO AVE
1202567                            3350 W 47th ST
2049483                            2334 E 75TH ST
233722                           3121 W CERMAK RD
2098892                     5467 S UNIVERSITY AVE
2104803                           3508 N BROADWAY
1198862                         2256 N ELSTON AVE
1154350                             317 E 51ST ST
284278                    3813-3815 W CHICAGO AVE
1473477                         3059 S PULASKI RD
88620                          6059 N LINCOLN AVE
...                                            ...
537512                             401 E 111TH ST
1092801                        3450 N LINCOLN AVE
1516702                         6190 S ARCHER AVE
2130187                         4046 N LEAVITT ST
614248                             535 S STATE ST
1575899        3800 S DR MARTIN LUTHER KING JR DR
2129554                       1025 W VAN BUREN ST
250306                         1814 W CHICAGO AVE
1151310                         5833 S KEDZIE AVE
1591458                         205 W Randolph ST
1633153                           4220 N Richmond
417333                              727 E 87TH ST
2129830                            6452 W 63RD ST
1300914                     1541 W BRYN  MAWR AVE
158246                           2130 W CERMAK RD
1386114                   6560 S STONY ISLAND AVE
1981970                         11601 W TOUHY AVE
2049937                        10001 S Pulaski RD
2070153                        5613 W CORCORAN PL
1236222                        5806 N WESTERN AVE
1387782                  8200 S COTTAGE GROVE AVE
679681                          2703 N HALSTED ST
1981776                              7350 S Evans
2009959                           1442 W 103RD ST
1770545                         731 N DEARBORN ST
1482355                      4400-4404 N CLARK ST
1459253                    3709-3713 N HARLEM AVE
1751851                           1816 N CLARK ST
2102939                            1501 E 53RD ST
2009279                          2154 W DEVON AVE

[25000 rows x 1 columns]

You can use this syntax to pull out multiple columns.

In [32]:
dta[['address', 'inspection_date']]

                                           address          inspection_date
inspection_id
68091                             2804 N CLARK ST   2010-02-01T00:00:00.000
1482935                        6744 N SHERIDAN RD   2015-08-21T00:00:00.000
1447916                     160-164 E SUPERIOR ST   2015-07-28T00:00:00.000
1978933                      5844-5846 N BROADWAY   2017-01-04T00:00:00.000
1375515                 2352-2358 N MILWAUKEE AVE   2013-11-18T00:00:00.000
1434800                         4140 W Addison ST   2014-04-14T00:00:00.000
1106632                        5657 N LINCOLN AVE   2013-06-14T00:00:00.000
1981312                         1234 N HALSTED ST   2017-01-11T00:00:00.000
1501267                               3700 S LOWE   2014-10-28T00:00:00.000
2129593                        2506 N LARAMIE AVE   2017-12-21T00:00:00.000
565226               131 N CLINTON ST BLDG BOOTH26  2011-02-23T00:00:00.000
2102944                        3450 N LINCOLN AVE   2017-10-31T00:00:00.000
1482500                           4445 N BROADWAY   2014-11-04T00:00:00.000
1684292                           200 W MONROE ST   2016-03-28T00:00:00.000
1546447                     1431 N NORTH PARK AVE   2015-05-27T00:00:00.000
2169836                           2935 N BROADWAY   2018-05-16T00:00:00.000
1229384                      1366 N MILWAUKEE AVE   2012-06-05T00:00:00.000
2072068                         11601 W TOUHY AVE   2017-08-08T00:00:00.000
1227664                            3956 W 63RD ST   2012-11-14T00:00:00.000
2088450                        1424 W CHICAGO AVE   2017-09-19T00:00:00.000
1202567                            3350 W 47th ST   2012-12-19T00:00:00.000
2049483                            2334 E 75TH ST   2017-04-28T00:00:00.000
233722                           3121 W CERMAK RD   2010-05-11T00:00:00.000
2098892                     5467 S UNIVERSITY AVE   2017-10-16T00:00:00.000
2104803                           3508 N BROADWAY   2017-11-16T00:00:00.000
1198862                         2256 N ELSTON AVE   2013-05-15T00:00:00.000
1154350                             317 E 51ST ST   2012-05-30T00:00:00.000
284278                    3813-3815 W CHICAGO AVE   2010-08-12T00:00:00.000
1473477                         3059 S PULASKI RD   2014-06-09T00:00:00.000
88620                          6059 N LINCOLN AVE   2010-12-09T00:00:00.000
...                                            ...                      ...
537512                             401 E 111TH ST   2011-07-28T00:00:00.000
1092801                        3450 N LINCOLN AVE   2014-01-29T00:00:00.000
1516702                         6190 S ARCHER AVE   2015-12-01T00:00:00.000
2130187                         4046 N LEAVITT ST   2018-01-10T00:00:00.000
614248                             535 S STATE ST   2011-05-25T00:00:00.000
1575899        3800 S DR MARTIN LUTHER KING JR DR   2015-09-22T00:00:00.000
2129554                       1025 W VAN BUREN ST   2017-12-21T00:00:00.000
250306                         1814 W CHICAGO AVE   2010-05-26T00:00:00.000
1151310                         5833 S KEDZIE AVE   2013-05-21T00:00:00.000
1591458                         205 W Randolph ST   2015-12-09T00:00:00.000
1633153                           4220 N Richmond   2016-03-15T00:00:00.000
417333                              727 E 87TH ST   2011-01-26T00:00:00.000
2129830                            6452 W 63RD ST   2018-01-02T00:00:00.000
1300914                     1541 W BRYN  MAWR AVE   2012-12-13T00:00:00.000
158246                           2130 W CERMAK RD   2010-01-06T00:00:00.000
1386114                   6560 S STONY ISLAND AVE   2015-05-05T00:00:00.000
1981970                         11601 W TOUHY AVE   2017-01-24T00:00:00.000
2049937                        10001 S Pulaski RD   2017-05-08T00:00:00.000
2070153                        5613 W CORCORAN PL   2017-07-20T00:00:00.000
1236222                        5806 N WESTERN AVE   2014-03-10T00:00:00.000
1387782                  8200 S COTTAGE GROVE AVE   2014-12-08T00:00:00.000
679681                          2703 N HALSTED ST   2012-03-14T00:00:00.000
1981776                              7350 S Evans   2017-01-20T00:00:00.000
2009959                           1442 W 103RD ST   2017-04-06T00:00:00.000
1770545                         731 N DEARBORN ST   2016-05-10T00:00:00.000
1482355                      4400-4404 N CLARK ST   2014-08-28T00:00:00.000
1459253                    3709-3713 N HARLEM AVE   2014-04-29T00:00:00.000
1751851                           1816 N CLARK ST   2016-04-12T00:00:00.000
2102939                            1501 E 53RD ST   2017-10-31T00:00:00.000
2009279                          2154 W DEVON AVE   2017-03-24T00:00:00.000

[25000 rows x 2 columns]

You can index the rows, by using the **loc** and **iloc** accessors.

`loc` does *label-based* indexing.

In [36]:
dta.loc[[1965287, 1329698]]

KeyError: 'None of [[1965287, 1329698]] are in the [index]'

`iloc` on the other hand provides *integer-based* indexing. We can pass a list of rows integers.

In [37]:
dta.iloc[[0, 2]]

,address,aka_name,city,dba_name,facility_type,inspection_date,inspection_id,inspection_type,latitude,license_,location,longitude,results,risk,state,violations,zip
0,2804 N CLARK ST,Wells Street Popcorn,CHICAGO,Wells Street Popcorn,Restaurant,2010-02-01T00:00:00.000,68091,Canvass,41.932921,1954774.0,"{'type': 'Point', 'coordinates': [-87.64515454...",-87.645155,Pass,Risk 2 (Medium),IL,NaN,60657.0
2,160-164 E SUPERIOR ST,GINO'S EAST PIZZERIA,CHICAGO,GINO'S EAST PIZZERIA,Restaurant,2015-07-28T00:00:00.000,1447916,Suspected Food Poisoning Re-inspection,41.895863,1697132.0,"{'type': 'Point', 'coordinates': [-87.62325304...",-87.623253,Pass,Risk 1 (High),IL,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,60611.0

Both support the Python **slice notation** (`start:stop:step`). This can be really powerful.

In [38]:
dta.iloc[:5]

,address,aka_name,city,dba_name,facility_type,inspection_date,inspection_id,inspection_type,latitude,license_,location,longitude,results,risk,state,violations,zip
0,2804 N CLARK ST,Wells Street Popcorn,CHICAGO,Wells Street Popcorn,Restaurant,2010-02-01T00:00:00.000,68091,Canvass,41.932921,1954774.0,"{'type': 'Point', 'coordinates': [-87.64515454...",-87.645155,Pass,Risk 2 (Medium),IL,NaN,60657.0
1,6744 N SHERIDAN RD,RICE THAI CAFE,CHICAGO,RICE THAI CAFE,Restaurant,2015-08-21T00:00:00.000,1482935,Canvass Re-Inspection,42.004881,2354674.0,"{'type': 'Point', 'coordinates': [-87.66101071...",-87.661011,Pass,Risk 1 (High),IL,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,60626.0
2,160-164 E SUPERIOR ST,GINO'S EAST PIZZERIA,CHICAGO,GINO'S EAST PIZZERIA,Restaurant,2015-07-28T00:00:00.000,1447916,Suspected Food Poisoning Re-inspection,41.895863,1697132.0,"{'type': 'Point', 'coordinates': [-87.62325304...",-87.623253,Pass,Risk 1 (High),IL,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,60611.0
3,5844-5846 N BROADWAY,RAS DASHEN ETHIOPIAN RESTAURANT INC,CHICAGO,RAS DASHEN ETHIOPIAN RESTAURANT INC,Restaurant,2017-01-04T00:00:00.000,1978933,Canvass,41.988326,1122395.0,"{'type': 'Point', 'coordinates': [-87.66036036...",-87.660360,Fail,Risk 1 (High),IL,"16. FOOD PROTECTED DURING STORAGE, PREPARATION...",60660.0
4,2352-2358 N MILWAUKEE AVE,EAST ROOM,CHICAGO,EAST ROOM,Liquor,2013-11-18T00:00:00.000,1375515,License Re-Inspection,41.923873,2263696.0,"{'type': 'Point', 'coordinates': [-87.69916285...",-87.699163,Pass,Risk 3 (Low),IL,NaN,60647.0

In [39]:
dta.loc[:1335320]

,address,aka_name,city,dba_name,facility_type,inspection_date,inspection_id,inspection_type,latitude,license_,location,longitude,results,risk,state,violations,zip
0,2804 N CLARK ST,Wells Street Popcorn,CHICAGO,Wells Street Popcorn,Restaurant,2010-02-01T00:00:00.000,68091,Canvass,41.932921,1954774.0,"{'type': 'Point', 'coordinates': [-87.64515454...",-87.645155,Pass,Risk 2 (Medium),IL,NaN,60657.0
1,6744 N SHERIDAN RD,RICE THAI CAFE,CHICAGO,RICE THAI CAFE,Restaurant,2015-08-21T00:00:00.000,1482935,Canvass Re-Inspection,42.004881,2354674.0,"{'type': 'Point', 'coordinates': [-87.66101071...",-87.661011,Pass,Risk 1 (High),IL,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,60626.0
2,160-164 E SUPERIOR ST,GINO'S EAST PIZZERIA,CHICAGO,GINO'S EAST PIZZERIA,Restaurant,2015-07-28T00:00:00.000,1447916,Suspected Food Poisoning Re-inspection,41.895863,1697132.0,"{'type': 'Point', 'coordinates': [-87.62325304...",-87.623253,Pass,Risk 1 (High),IL,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,60611.0
3,5844-5846 N BROADWAY,RAS DASHEN ETHIOPIAN RESTAURANT INC,CHICAGO,RAS DASHEN ETHIOPIAN RESTAURANT INC,Restaurant,2017-01-04T00:00:00.000,1978933,Canvass,41.988326,1122395.0,"{'type': 'Point', 'coordinates': [-87.66036036...",-87.660360,Fail,Risk 1 (High),IL,"16. FOOD PROTECTED DURING STORAGE, PREPARATION...",60660.0
4,2352-2358 N MILWAUKEE AVE,EAST ROOM,CHICAGO,EAST ROOM,Liquor,2013-11-18T00:00:00.000,1375515,License Re-Inspection,41.923873,2263696.0,"{'type': 'Point', 'coordinates': [-87.69916285...",-87.699163,Pass,Risk 3 (Low),IL,NaN,60647.0
5,4140 W Addison ST,St. Viator,CHICAGO,St. Viator,School,2014-04-14T00:00:00.000,1434800,Canvass,41.946440,1878519.0,"{'type': 'Point', 'coordinates': [-87.73073817...",-87.730738,Pass,Risk 1 (High),IL,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...,60641.0
6,5657 N LINCOLN AVE,KABAB HOUSE,CHICAGO,"KABAB HOUSE, INC",Restaurant,2013-06-14T00:00:00.000,1106632,Canvass Re-Inspection,41.984405,1979795.0,"{'type': 'Point', 'coordinates': [-87.69705038...",-87.697050,Pass,Risk 1 (High),IL,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,60659.0
7,1234 N HALSTED ST,SUBWAY,CHICAGO,SUBWAY 50886,Restaurant,2017-01-11T00:00:00.000,1981312,Canvass,41.904502,2115048.0,"{'type': 'Point', 'coordinates': [-87.64826686...",-87.648267,Pass,Risk 1 (High),IL,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...,60642.0
8,3700 S LOWE,BRIDGEPORT CATHOLIC SCHOOL(CAMPUS),CHICAGO,BRIDGEPORT CATHOLIC SCHOOL (CAMPUS),School,2014-10-28T00:00:00.000,1501267,Canvass,41.827056,2224981.0,"{'type': 'Point', 'coordinates': [-87.64250380...",-87.642504,Pass,Risk 1 (High),IL,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...,60609.0
9,2506 N LARAMIE AVE,Cuernavaca Bakery,CHICAGO,Cuernavaca Bakery,Bakery,2017-12-21T00:00:00.000,2129593,Canvass,41.926211,2192872.0,"{'type': 'Point', 'coordinates': [-87.75637041...",-87.756370,Out of Business,Risk 2 (Medium),IL,NaN,60639.0
10,131 N CLINTON ST BLDG BOOTH26,PAPPARDELLE'S PASTA,CHICAGO,PAPPARDELLE'S PASTA,Restaurant,2011-02-23T00:00:00.000,565226,Canvass,41.884188,2022121.0,"{'type': 'Point', 'coordinates': [-87.64111966...",-87.641120,Out of Business,Risk 1 (High),IL,NaN,60661.0
11,3450 N LINCOLN AVE,FERNANDO'S RESTAURANT,CHICAGO,FERNANDO'S RESTAURANT,Restaurant,2017-10-31T00:00:00.000,2102944,Complaint,41.944583,36911.0,"{'type': 'Point', 'coordinates': [-87.67225084...",-87.672251,Fail,Risk 1 (High),IL,13. NO EVIDENCE OF RODENT OR INSECT INFESTATIO...,60657.0
12,4445 N BROADWAY,DIVINE FOOD MARKET,CHICAGO,DIVINE FOOD MARKET,Grocery Store,2014-11-04T00:00:00.000,1482500,Canvass Re-Inspection,41.962990,1476419.0,"{'type': 'Point', 'coordinates': [-87.65576865...",-87.655769,Fail,Risk 2 (Medium),IL,"14. PREVIOUS SERIOUS VIOLATION CORRECTED, 7-42...",60640.0
13,200 W MONROE ST,JERSEY MIKE'S SUBS,CHICAGO,JERSEY MIKE'S SUBS,Restaurant,2016-03-28T00:00:00.000,1684292,Canvass Re-Inspection,41.880769,2398227.0,"{'type': 'Point', 'coordinates': [-87.63387497...",-87.633875,Pass,Risk 1 (High),IL,NaN,60606.0
14,1431 N NORTH PARK AVE,IMMACULATE CONCEPTION SCHOOL,CHICAGO,IMMACULATE CONCEPTION SCHOOL,School,2015-05-27T00:00:00.000,1546447,Canvass,41.908502,1981657.0,"{'type': 'Point', 'coordinates': [-87.63643566...",-87.636436,Pass,Risk 1 (High),IL,NaN,60610.0
15,2935 N BROADWAY,SNOW FACTORY,CHICAGO,SNOW FACTORY,Restaurant,2018-05-16T00:00:00.000,2169836,Canvass Re-Inspection,41.935969,2569190.0,"{'type': 'Point', 'coordinates': [-87.64411406...",-87.644114,Pass,Risk 2 (Medium),IL,36. LIGHTING: REQUIRED MINIMUM FOOT-CANDLES OF...,60657.0
16,1366 N MILWAUKEE AVE,EMPORIUM ARCADE BAR,CHICAGO,EMPORIUM ARCADE BAR,TAVERN,2012-06-05T00:00:00.000,1229384,License,41.906543,2133873.0,"{'type': 'Point', 'coordinates': [-87.67169262...",-87.671693,Fail,Risk 3 (Low),NaN,12. HAND WASHING FACILITIES: WITH SOAP AND SAN...,60642.0
17,11601 W TOUHY AVE,HILTON O'HARE & ANDIAMO,CHICAGO,HILTON O'HARE,Restaurant,2017-08-08T00:00:00.000,2072068,License Re-Inspection,42.008536,2535614.0,"{'type': 'Point', 'coordinates': [-87.91442843...",-87.914428,Pass,Risk 1 (High),IL,NaN,60666.0
18,3956 W 63RD ST,PASTELERIA EL NUEVO MUNDO,CHICAGO,PASTELERIA EL NUEVO MUNDO,Bakery,2012-11-14T00:00:00.000,1227664,Canvass Re-Inspection,41.778770,2120957.0,"{'type': 'Point', 'coordinates': [-87.72256327...",-87.722563,Pass,Risk 2 (Medium),IL,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...,60629.0
19,1424 W CHICAGO AVE,FIVE STAR BAR & GRILL,CHICAGO,FIVE STAR BAR & GRILL,Restaurant,2017-09-19T00:00:00.000,2088450,Canvass,41.896242,1621501.0,"{'type': 'Point', 'coordinates': [-87.66344067...",-87.663441,No Entry,Risk 1 (High),IL,NaN,60642.0
20,3350 W 47th ST,LACOCO'S PIZZA & PASTA,CHICAGO,LACOCO'S PIZZA & PASTA,Restaurant,2012-12-19T00:00:00.000,1202567,Canvass,41.808173,67229.0,"{'type': 'Point', 'coordinates': [-87.70848388...",-87.708484,Pass,Risk 1 (High),IL,"30. FOOD IN ORIGINAL CONTAINER, PROPERLY LABEL...",60632.0
21,2334 E 75TH ST,KENYATTA'S DAYCARE,CHICAGO,KENYATTA'S DAYCARE,Daycare Above and Under 2 Years,2017-04-28T00:00:00.000,2049483,Canvass,41.759085,2215571.0,"{'type': 'Point', 'coordinates': [-87.56744784...",-87.567448,Pass,Risk 1 (High),IL,"34. FLOORS: CONSTRUCTED PER CODE, CLEANED, GOO...",60649.0
22,3121 W CERMAK RD,TAQUERIA EL PALMAR,CHICAGO,TAQUERIA EL PALMAR,NaN,2010-05-11T00:00:00.000,233722,Canvass,41.851674,1243326.0,"{'type': 'Point', 'coordinates': [-87.70378752...",-87.703788,Fail,Risk 1 (High),IL,NaN,60623.0
23,5467 S UNIVERSITY AVE,CHICAGO CHILD CARE SOCIETY,CHICAGO,CHICAGO CHILD CARE SOCIETY,Children's Services Facility,2017-10-16T00:00:00.000,2098892,Canvass Re-Inspection,41.796130,2470228.0,"{'type': 'Point', 'coordinates': [-87.59795762...",-87.597958,Pass,Risk 1 (High),IL,38. VENTILATION: ROOMS AND EQUIPMENT VENTED AS...,60615.0
24,3508 N BROADWAY,WIRED COFFEE,CHICAGO,"TECH SHIELD, INC.",Restaurant,2017-11-16T00:00:00.000,2104803,Canvass Re-Inspection,41.945711,2013337.0,"{'type': 'Point', 'coordinates': [-87.64643499...",-87.646435,Pass,Risk 1 (High),IL,"30. FOOD IN ORIGINAL CONTAINER, PROPERLY LABEL...",60657.0
25,2256 N ELSTON AVE,COOK AU VIN,CHICAGO,COOK AU VIN,Bakery,2013-05-15T00:00:00.000,1198862,Canvass Re-Inspection,41.922508,1888258.0,"{'type': 'Point', 'coordinates': [-87.67400666...",-87.674007,Pass,Risk 1 (High),IL,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,60614.0
26,317 E 51ST ST,RED APPLE FOOD & LIQUOR INC,CHICAGO,RED APPLE FOOD & LIQUOR INC,Grocery Store,2012-05-30T00:00:00.000,1154350,Complaint,41.801955,10894.0,"{'type': 'Point', 'coordinates': [-87.61868295...",-87.618683,Fail,Risk 2 (Medium),IL,12. HAND WASHING FACILITIES: WITH SOAP AND SAN...,60615.0
27,3813-3815 W CHICAGO AVE,SUGA RAY'S SPORTS GRILL,CHICAGO,SUGA RAY'S SPORTS GRILL,Restaurant,2010-08-12T00:00:00.000,284278,Canvass,41.895297,1922230.0,"{'type': 'Point', 'coordinates': [-87.72179977...",-87.721800,Out of Business,Risk 2 (Medium),IL,NaN,60651.0
28,3059 S PULASKI RD,PIEZANO'S PIZZA & GRINDER CO,CHICAGO,PIEZANO'S PIZZA & GRINDER CO,Restaurant,2014-06-09T00:00:00.000,1473477,Canvass,41.836976,18272.0,"{'type': 'Point', 'coordinates': [-87.72420568...",-87.724206,Pass,Risk 1 (High),IL,"34. FLOORS: CONSTRUCTED PER CODE, CLEANED, GOO...",60623.0
29,6059 N LINCOLN AVE,PANERA BREAD,CHICAGO,PANERA BREAD,Restaurant,2010-12-09T00:00:00.000,88620,Canvass,41.991919,1475890.0,"{'type': 'Point', 'coordinates': [-87.70963133...",-87.709631,Fail,Risk 1 (High),IL,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...,60659.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24970,401 E 111TH ST,HAPPY HOLIDAY NURSERY & KINDERGARTEN,CHICAGO,HAPPY HOLIDAY NURSERY & KINDERGARTEN,Daycare Above and Under 2 Years,2011-07-28T00:00:00.000,537512,License,41.692628,1477908.0,"{'type': 'Point', 'coordinates': [-87.61331405...",-87.613314,Pass,Risk 1 (High),IL,"34. FLOORS: CONSTRUCTED PER CODE, CLEANED, GOO...",60628.0
24971,3450 N LINCOLN AVE,FERNANDO'S RESTAURANT,CHICAGO,FERNANDO'S RESTAURANT,Restaurant,2014-01-29T00:00:00.000,1092801,Canvass,41.944583,36911.0,"{'type': 'Point', 'coordinates': [-87.67225084...",-87.672251,Pass,Risk 1 (High),IL,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,60657.0
24972,6190 S ARCHER AVE,WINGSTOP #587,CHICAGO,WINGSTOP #587,Restaurant,2015-12-01T00:00:00.000,1516702,Canvass,41.794018,2134060.0,"{'type': 'Point', 'coordinates': [-87.77414737...",-87.774147,Pass w/ Conditions,Risk 1 (High),IL,21. * CERTIFIED FOOD MANAGER ON SITE WHEN POTE...,60638.0
24973,4046 N LEAVITT ST,JOHN COONLEY ELEMENTARY SCHOOL,CHICAGO,JOHN COONLEY ELEMENTARY SCHOOL,School,2018-01-10T00:00:00.000,2130187,Canvass,41.955549,22821.0,"{'type': 'Point', 'coordinates': [-87.68380194...",-87.683802,Pass,Risk 1 (High),IL,38. VENTILATION: ROOMS AND EQUIPMENT VENTED AS...,60618.0
24974,535 S STATE ST,7-ELEVEN #33496C,CHICAGO,7-ELEVEN #33496C,convenience store,2011-05-25T00:00:00.000,614248,Canvass,41.875011,1970111.0,"{'type': 'Point', 'coordinates': [-87.62747463...",-87.627475,Pass,Risk 2 (Medium),IL,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...,60605.0
24975,3800 S DR MARTIN LUTHER KING JR DR,PIONEER GARDENS,CHICAGO,PIONEER GARDENS,Restaurant,2015-09-22T00:00:00.000,1575899,Canvass,41.825556,1677537.0,"{'type': 'Point', 'coordinates': [-87.61717841...",-87.617178,Pass w/ Conditions,Risk 1 (High),IL,8. SANITIZING RINSE FOR EQUIPMENT AND UTENSILS...,60653.0
24976,1025 W VAN BUREN ST,LILYPAD,CHICAGO,SHORT STUFF CHICAGO,Children's Services Facility,2017-12-21T00:00:00.000,2129554,License,41.876475,2569352.0,"{'type': 'Point', 'coordinates': [-87.65294630...",-87.652946,Fail,Risk 1 (High),IL,"11. ADEQUATE NUMBER, CONVENIENT, ACCESSIBLE, D...",60607.0
24977,1814 W CHICAGO AVE,TECALITLAN,CHICAGO,TECALITLAN,Restaurant,2010-05-26T00:00:00.000,250306,Canvass,41.896090,7246.0,"{'type': 'Point', 'coordinates': [-87.67282790...",-87.672828,Pass w/ Conditions,Risk 1 (High),IL,2. FACILITIES TO MAINTAIN PROPER TEMPERATURE -...,60622.0
24978,5833 S KEDZIE AVE,CHINESE #1 KITCHEN,CHICAGO,CHINESE #1 KITCHEN,Restaurant,2013-05-21T00:00:00.000,1151310,Canvass,41.787074,2120075.0,"{'type': 'Point', 'coordinates': [-87.70322295...",-87.703223,Pass,Risk 1 (High),IL,31. CLEAN MULTI-USE UTENSILS AND SINGLE SERVIC...,60629.0
24979,205 W Randolph ST,P & H CONVENIENCE STORE,CHICAGO,P & H CONVENIENCE STORE,Grocery Store,2015-12-09T00:00:00.000,1591458,Canvass,41.884359,2196521.0,"{'type': 'Point', 'coordinates': [-87.63407990...",-87.634080,Pass,Risk 3 (Low),IL,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...,60606.0
24980,4220 N Richmond,Newton Bateman Elementary School,CHICAGO,Newton Bateman Elementary School,School,2016-03-15T00:00:00.000,1633153,Canvass,41.958230,22171.0,"{'type': 'Point', 'coordinates': [-87.70218806...",-87.702188,Pass,Risk 1 (High),IL,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...,60618.0
24981,727 E 87TH ST,ST REST COUNTRY KITCHEN,CHICAGO,ST REST COUNTRY KITCHEN,Restaurant,2011-01-26T00:00:00.000,417333,Complaint Re-Inspection,41.736520,11696.0,"{'type': 'Point', 'coordinates': [-87.60618644...",-87.606186,Pass,Risk 1 (High),IL,"30. FOOD IN ORIGINAL CONTAINER, PROPERLY LABEL...",60619.0
24982,6452 W 63RD ST,WING WAH CHINESE RESTAURANT,CHICAGO,WING WAH CHINESE RESTAURANT,Restaurant,2018-01-02T00:00:00.000,2129830,Canvass,41.777754,1879298.0,"{'type': 'Point', 'coordinates': [-87.78339851...",-87.783399,Pass,Risk 1 (High),IL,"34. FLOORS: CONSTRUCTED PER CODE, CLEANED, GOO...",60638.0
24983,1541 W BRYN MAWR AVE,LITTLE BAD WOLF,CHICAGO,LITTLE BAD WOLF,Restaurant,2012-12-13T00:00:00.000,1300914,Complaint Re-Inspection,41.983377,2088978.0,"{'type': 'Point', 'coordinates': [-87.66910121...",-87.669101,Pass,Risk 1 (High),IL,NaN,60660.0
24984,2130 W CERMAK RD,LAS TRES CAMPANITAS,CHICAGO,LAS TRES CAMPANITAS,Restaurant,2010-01-06T00:00:00.000,158246,License,41.852227,2013269.0,"{'type': 'Point', 'coordinates': [-87.67955938...",-87.679559,Fail,Risk 2 (Medium),IL,2. FACILITIES TO MAINTAIN PROPER TEMPERATURE -...,60608.0
24985,6560 S STONY ISLAND AVE,MCDONALD'S,CHICAGO,MCDONALD'S,Restaurant,2015-05-05T00:00:00.000,1386114,Complaint,41.775220,1943516.0,"{'type': 'Point', 'coordinates': [-87.58643662...",-87.586437,Fail,Risk 2 (Medium),IL,18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...,60637.0
24986,11601 W TOUHY AVE,AMERICAN AIRLINES (T3-G8),CHICAGO,AMERICAN AIRLINES,Restaurant,2017-01-24T00:00:00.000,1981970,Canvass,42.008536,2284294.0,"{'type': 'Point', 'coordinates': [-87.91442843...",-87.914428,Fail,Risk 2 (Medium),IL,8. SANITIZING RINSE FOR EQUIPMENT AND UTENSILS...,60666.0
24987,10001 S Pulaski RD,BROTHER RICE HIGH SCHOOL,CHICAGO,BROTHER RICE HIGH SCHOOL,School,2017-05-08T00:00:00.000,2049937,Canvass Re-Inspection,41.711258,1980784.0,"{'type': 'Point', 'coordinates': [-87.72093947...",-87.720939,Pass,Risk 1 (High),IL,"34. FLOORS: CONSTRUCTED PER CODE, CLEANED, GOO...",60655.0
24988,5613 W CORCORAN PL,LITTLE LEADERS OF TOMORROW DAY CARE CENTER,CHICAGO,LITTLE LEADERS OF TOMORROW DAY CARE CENTER,Children's Services Facility,2017-07-20T00:00:00.000,2070153,License Re-Inspection,41.887103,2216004.0,"{'type': 'Point', 'coordinates': [-87.76568360...",-87.765684,Pass,Risk 1 (High),IL,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,60644.0
24989,5806 N WESTERN AVE,D-4 CAFE - BAR RESTAURANT,CHICAGO,D-4 RESTAURANT,Restaurant,2014-03-10T00:00:00.000,1236222,Canvass,41.987069,2060730.0,"{'type': 'Point', 'coordinates': [-87.68970509...",-87.689705,Pass,Risk 1 (High),IL,"34. FLOORS: CONSTRUCTED PER CODE, CLEANED, GOO...",60659.0
24990,8200 S COTTAGE GROVE AVE,D AND Y GROCERY,CHICAGO,D AND Y GROCERY,Grocery Store,2014-12-08T00:00:00.000,1387782,Canvass,41.745704,1477137.0,"{'type': 'Point', 'coordinates': [-87.60522820...",-87.605228,Fail,Risk 2 (Medium),IL,3. POTENTIALLY HAZARDOUS FOOD MEETS TEMPERATUR...,60619.0
24991,2703 N HALSTED ST,MAYAN PALACE,CHICAGO,MAYAN PALACE,Restaurant,2012-03-14T00:00:00.000,679681,Canvass Re-Inspection,41.931640,1300822.0,"{'type': 'Point', 'coordinates': [-87.64882688...",-87.648827,Pass,Risk 1 (High),IL,NaN,60614.0
24992,7350 S Evans,HENRY O. TANNER ELEMENTARY,CHICAGO,HENRY O. TANNER ELEMENTARY,School,2017-01-20T00:00:00.000,1981776,Canvass,41.760699,26281.0,"{'type': 'Point', 'coordinates': [-87.60682834...",-87.606828,Pass,Risk 1 (High),IL,"35. WALLS, CEILINGS, ATTACHED EQUIPMENT CONSTR...",60619.0
24993,1442 W 103RD ST,IRIE ISLAND,CHICAGO,IRIE ISLAND,Restaurant,2017-04-06T00:00:00.000,2009959,Canvass,41.706852,2271525.0,"{'type': 'Point', 'coordinates': [-87.65894640...",-87.658946,Fail,Risk 1 (High),IL,2. FACILITIES TO MAINTAIN PROPER TEMPERATURE -...,60643.0
24994,731 N DEARBORN ST,BELLA LUNA CAFE,CHICAGO,BELLA LUNA CAFE,Restaurant,2016-05-10T00:00:00.000,1770545,Canvass,41.895774,86092.0,"{'type': 'Point', 'coordinates': [-87.62961054...",-87.629611,Pass,Risk 1 (High),IL,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,60610.0
24995,4400-4404 N CLARK ST,ANNA MARIA PASTERIA,CHICAGO,ANNA MARIA PASTERIA,Restaurant,2014-08-28T00:00:00.000,1482355,Canvass,41.961701,1513905.0,"{'type': 'Point', 'coordinates': [-87.66612372...",-87.666124,Fail,Risk 1 (High),IL,"16. FOOD PROTECTED DURING STORAGE, PREPARATION...",60640.0
24996,3709-3713 N HARLEM AVE,YUMMY JAPANESE AND CHINESE CUISINE,CHICAGO,YUMMY,Restaurant,2014-04-29T00:00:00.000,1459253,Canvass,41.947399,2184668.0,"{'type': 'Point', 'coordinates': [-87.80693252...",-87.806933,Pass,Risk 1 (High),IL,"30. FOOD IN ORIGINAL CONTAINER, PROPERLY LABEL...",60634.0
24997,1816 N CLARK ST,J.PARKER,CHICAGO,HOTEL LINCOLN,Restaurant,2016-04-12T00:00:00.000,1751851,License,41.915250,2442928.0,"{'type': 'Point', 'coordinates': [-87.63429326...",-87.634293,Fail,Risk 1 (High),IL,"26. ADEQUATE NUMBER, CONVENIENT, ACCESSIBLE, P...",60614.0
24998,1501 E 53RD ST,PIZZA CAPRI,CHICAGO,PIZZA CAPRI,Restaurant,2017-10-31T00:00:00.000,2102939,Complaint Re-Inspection,41.799434,39084.0,"{'type': 'Point', 'coordinates': [-87.58904625...",-87.589046,Pass,Risk 1 (High),IL,"30. FOOD IN ORIGINAL CONTAINER, PROPERLY LABEL...",60615.0
24999,2154 W DEVON AVE,VILLA PALERMO PIZZA,CHICAGO,VILLA PALERMO INC,Restaurant,2017-03-24T00:00:00.000,2009279,Complaint,41.997926,1470.0,"{'type': 'Point', 'coordinates': [-87.68478485...",-87.684785,Pass w/ Conditions,Risk 1 (High),IL,19. OUTSIDE GARBAGE WASTE GREASE AND STORAGE A...,60659.0

Note that these inspection ids are *not* sorted, yet we can still use slice notation.

Of course, we can also combine row and index labeling.

In [40]:
dta.iloc[:5, [0, 5]]

                      address          inspection_date
0            2804 N CLARK ST   2010-02-01T00:00:00.000
1         6744 N SHERIDAN RD   2015-08-21T00:00:00.000
2      160-164 E SUPERIOR ST   2015-07-28T00:00:00.000
3       5844-5846 N BROADWAY   2017-01-04T00:00:00.000
4  2352-2358 N MILWAUKEE AVE   2013-11-18T00:00:00.000

In [41]:
dta.loc[:68091, ["address", "inspection_date"]]

                                   address          inspection_date
0                         2804 N CLARK ST   2010-02-01T00:00:00.000
1                      6744 N SHERIDAN RD   2015-08-21T00:00:00.000
2                   160-164 E SUPERIOR ST   2015-07-28T00:00:00.000
3                    5844-5846 N BROADWAY   2017-01-04T00:00:00.000
4               2352-2358 N MILWAUKEE AVE   2013-11-18T00:00:00.000
5                       4140 W Addison ST   2014-04-14T00:00:00.000
6                      5657 N LINCOLN AVE   2013-06-14T00:00:00.000
7                       1234 N HALSTED ST   2017-01-11T00:00:00.000
8                             3700 S LOWE   2014-10-28T00:00:00.000
9                      2506 N LARAMIE AVE   2017-12-21T00:00:00.000
10           131 N CLINTON ST BLDG BOOTH26  2011-02-23T00:00:00.000
11                     3450 N LINCOLN AVE   2017-10-31T00:00:00.000
12                        4445 N BROADWAY   2014-11-04T00:00:00.000
13                        200 W MONROE ST   2016-03-28T00:00:00.000
14                  1431 N NORTH PARK AVE   2015-05-27T00:00:00.000
15                        2935 N BROADWAY   2018-05-16T00:00:00.000
16                   1366 N MILWAUKEE AVE   2012-06-05T00:00:00.000
17                      11601 W TOUHY AVE   2017-08-08T00:00:00.000
18                         3956 W 63RD ST   2012-11-14T00:00:00.000
19                     1424 W CHICAGO AVE   2017-09-19T00:00:00.000
20                         3350 W 47th ST   2012-12-19T00:00:00.000
21                         2334 E 75TH ST   2017-04-28T00:00:00.000
22                       3121 W CERMAK RD   2010-05-11T00:00:00.000
23                  5467 S UNIVERSITY AVE   2017-10-16T00:00:00.000
24                        3508 N BROADWAY   2017-11-16T00:00:00.000
25                      2256 N ELSTON AVE   2013-05-15T00:00:00.000
26                          317 E 51ST ST   2012-05-30T00:00:00.000
27                3813-3815 W CHICAGO AVE   2010-08-12T00:00:00.000
28                      3059 S PULASKI RD   2014-06-09T00:00:00.000
29                     6059 N LINCOLN AVE   2010-12-09T00:00:00.000
...                                    ...                      ...
24970                      401 E 111TH ST   2011-07-28T00:00:00.000
24971                  3450 N LINCOLN AVE   2014-01-29T00:00:00.000
24972                   6190 S ARCHER AVE   2015-12-01T00:00:00.000
24973                   4046 N LEAVITT ST   2018-01-10T00:00:00.000
24974                      535 S STATE ST   2011-05-25T00:00:00.000
24975  3800 S DR MARTIN LUTHER KING JR DR   2015-09-22T00:00:00.000
24976                 1025 W VAN BUREN ST   2017-12-21T00:00:00.000
24977                  1814 W CHICAGO AVE   2010-05-26T00:00:00.000
24978                   5833 S KEDZIE AVE   2013-05-21T00:00:00.000
24979                   205 W Randolph ST   2015-12-09T00:00:00.000
24980                     4220 N Richmond   2016-03-15T00:00:00.000
24981                       727 E 87TH ST   2011-01-26T00:00:00.000
24982                      6452 W 63RD ST   2018-01-02T00:00:00.000
24983               1541 W BRYN  MAWR AVE   2012-12-13T00:00:00.000
24984                    2130 W CERMAK RD   2010-01-06T00:00:00.000
24985             6560 S STONY ISLAND AVE   2015-05-05T00:00:00.000
24986                   11601 W TOUHY AVE   2017-01-24T00:00:00.000
24987                  10001 S Pulaski RD   2017-05-08T00:00:00.000
24988                  5613 W CORCORAN PL   2017-07-20T00:00:00.000
24989                  5806 N WESTERN AVE   2014-03-10T00:00:00.000
24990            8200 S COTTAGE GROVE AVE   2014-12-08T00:00:00.000
24991                   2703 N HALSTED ST   2012-03-14T00:00:00.000
24992                        7350 S Evans   2017-01-20T00:00:00.000
24993                     1442 W 103RD ST   2017-04-06T00:00:00.000
24994                   731 N DEARBORN ST   2016-05-10T00:00:00.000
24995                4400-4404 N CLARK ST   2014-08-28T00:00:00.000
24996              3709-3713 N HARLEM AVE   2014-04-29T00:00:00.000
24997                     1816 N CLARK ST   2016-04-12T00:00:00.000
24998                      1501 E 53RD ST   2017-10-31T00:00:00.000
24999                    2154 W DEVON AVE   2017-03-24T00:00:00.000

[25000 rows x 2 columns]

## Cleaning Data for Types

So far, we've explicitly made an index. We may next want to convert to the dates to datetime types. Here we'll use the **apply** function to apply a function to each row of a Series.

In [ ]:
dta.inspection_date = dta.inspection_date.apply(pd.to_datetime)

In [ ]:
dta.inspection_date

Now let's cast zip code from a float to a string. Some zip codes can start with 0 (not in Chicago), and we need to account for that.

In [43]:
import numpy as np


def float_to_zip(zip_code):
    if np.isnan(zip_code):
        return np.nan
    
    # 0 makes sure to left-pad with zero
    # zip codes have 5 digits
    # .0 means, we don't want anything after the decimal
    # f is for float
    zip_code = "{:05.0f}".format(zip_code)
    return zip_code

Here we use Python's **string formatting** facilities to convert from a numeric type to a string. Some of the zip codes are empty strings in the file. Pandas uses numpy's `NaN` to indicate missingness, so we'll return it here.

In [44]:
dta.zip = dta.zip.apply(float_to_zip)

In [45]:
dta.head()

,address,aka_name,city,dba_name,facility_type,inspection_date,inspection_id,inspection_type,latitude,license_,location,longitude,results,risk,state,violations,zip
0,2804 N CLARK ST,Wells Street Popcorn,CHICAGO,Wells Street Popcorn,Restaurant,2010-02-01T00:00:00.000,68091,Canvass,41.932921,1954774.0,"{'type': 'Point', 'coordinates': [-87.64515454...",-87.645155,Pass,Risk 2 (Medium),IL,NaN,60657
1,6744 N SHERIDAN RD,RICE THAI CAFE,CHICAGO,RICE THAI CAFE,Restaurant,2015-08-21T00:00:00.000,1482935,Canvass Re-Inspection,42.004881,2354674.0,"{'type': 'Point', 'coordinates': [-87.66101071...",-87.661011,Pass,Risk 1 (High),IL,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,60626
2,160-164 E SUPERIOR ST,GINO'S EAST PIZZERIA,CHICAGO,GINO'S EAST PIZZERIA,Restaurant,2015-07-28T00:00:00.000,1447916,Suspected Food Poisoning Re-inspection,41.895863,1697132.0,"{'type': 'Point', 'coordinates': [-87.62325304...",-87.623253,Pass,Risk 1 (High),IL,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,60611
3,5844-5846 N BROADWAY,RAS DASHEN ETHIOPIAN RESTAURANT INC,CHICAGO,RAS DASHEN ETHIOPIAN RESTAURANT INC,Restaurant,2017-01-04T00:00:00.000,1978933,Canvass,41.988326,1122395.0,"{'type': 'Point', 'coordinates': [-87.66036036...",-87.660360,Fail,Risk 1 (High),IL,"16. FOOD PROTECTED DURING STORAGE, PREPARATION...",60660
4,2352-2358 N MILWAUKEE AVE,EAST ROOM,CHICAGO,EAST ROOM,Liquor,2013-11-18T00:00:00.000,1375515,License Re-Inspection,41.923873,2263696.0,"{'type': 'Point', 'coordinates': [-87.69916285...",-87.699163,Pass,Risk 3 (Low),IL,NaN,60647

DataFrames have a `dtypes` attribute for checking the data types. Pandas relies on NumPy's dtypes objects. Here we see that the `object` dtype is used to hold strings. This for technical reasons.

In [46]:
dta.dtypes[['inspection_date', 'zip']]

inspection_date    object
zip                object
dtype: object

We can also convert variables' types, using `astype`. Here, we'll explicitly cast to pandas Categorical type, which is the only non-native numpy type.

In [47]:
dta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 17 columns):
address            25000 non-null object
aka_name           24731 non-null object
city               24978 non-null object
dba_name           25000 non-null object
facility_type      24565 non-null object
inspection_date    25000 non-null object
inspection_id      25000 non-null int64
inspection_type    25000 non-null object
latitude           24822 non-null float64
license_           24999 non-null float64
location           24822 non-null object
longitude          24822 non-null float64
results            25000 non-null object
risk               24991 non-null object
state              24995 non-null object
violations         19538 non-null object
zip                24991 non-null object
dtypes: float64(3), int64(1), object(13)
memory usage: 3.2+ MB

In [48]:
dta.results = dta.results.astype('category')
dta.risk = dta.risk.astype('category')
dta.inspection_type = dta.inspection_type.astype('category')
dta.facility_type = dta.facility_type.astype('category')

If we only select the categorical types, we can see some categorical variables descriptions.

We can use the `select_dtypes` method to pull out a DataFrame with only the asked for types.

In [49]:
dta.select_dtypes(['category'])

,facility_type,inspection_type,results,risk
0,Restaurant,Canvass,Pass,Risk 2 (Medium)
1,Restaurant,Canvass Re-Inspection,Pass,Risk 1 (High)
2,Restaurant,Suspected Food Poisoning Re-inspection,Pass,Risk 1 (High)
3,Restaurant,Canvass,Fail,Risk 1 (High)
4,Liquor,License Re-Inspection,Pass,Risk 3 (Low)
5,School,Canvass,Pass,Risk 1 (High)
6,Restaurant,Canvass Re-Inspection,Pass,Risk 1 (High)
7,Restaurant,Canvass,Pass,Risk 1 (High)
8,School,Canvass,Pass,Risk 1 (High)
9,Bakery,Canvass,Out of Business,Risk 2 (Medium)
10,Restaurant,Canvass,Out of Business,Risk 1 (High)
11,Restaurant,Complaint,Fail,Risk 1 (High)
12,Grocery Store,Canvass Re-Inspection,Fail,Risk 2 (Medium)
13,Restaurant,Canvass Re-Inspection,Pass,Risk 1 (High)
14,School,Canvass,Pass,Risk 1 (High)
15,Restaurant,Canvass Re-Inspection,Pass,Risk 2 (Medium)
16,TAVERN,License,Fail,Risk 3 (Low)
17,Restaurant,License Re-Inspection,Pass,Risk 1 (High)
18,Bakery,Canvass Re-Inspection,Pass,Risk 2 (Medium)
19,Restaurant,Canvass,No Entry,Risk 1 (High)
20,Restaurant,Canvass,Pass,Risk 1 (High)
21,Daycare Above and Under 2 Years,Canvass,Pass,Risk 1 (High)
22,NaN,Canvass,Fail,Risk 1 (High)
23,Children's Services Facility,Canvass Re-Inspection,Pass,Risk 1 (High)
24,Restaurant,Canvass Re-Inspection,Pass,Risk 1 (High)
25,Bakery,Canvass Re-Inspection,Pass,Risk 1 (High)
26,Grocery Store,Complaint,Fail,Risk 2 (Medium)
27,Restaurant,Canvass,Out of Business,Risk 2 (Medium)
28,Restaurant,Canvass,Pass,Risk 1 (High)
29,Restaurant,Canvass,Fail,Risk 1 (High)
...,...,...,...,...
24970,Daycare Above and Under 2 Years,License,Pass,Risk 1 (High)
24971,Restaurant,Canvass,Pass,Risk 1 (High)
24972,Restaurant,Canvass,Pass w/ Conditions,Risk 1 (High)
24973,School,Canvass,Pass,Risk 1 (High)
24974,convenience store,Canvass,Pass,Risk 2 (Medium)
24975,Restaurant,Canvass,Pass w/ Conditions,Risk 1 (High)
24976,Children's Services Facility,License,Fail,Risk 1 (High)
24977,Restaurant,Canvass,Pass w/ Conditions,Risk 1 (High)
24978,Restaurant,Canvass,Pass,Risk 1 (High)
24979,Grocery Store,Canvass,Pass,Risk 3 (Low)
24980,School,Canvass,Pass,Risk 1 (High)
24981,Restaurant,Complaint Re-Inspection,Pass,Risk 1 (High)
24982,Restaurant,Canvass,Pass,Risk 1 (High)
24983,Restaurant,Complaint Re-Inspection,Pass,Risk 1 (High)
24984,Restaurant,License,Fail,Risk 2 (Medium)
24985,Restaurant,Complaint,Fail,Risk 2 (Medium)
24986,Restaurant,Canvass,Fail,Risk 2 (Medium)
24987,School,Canvass Re-Inspection,Pass,Risk 1 (High)
24988,Children's Services Facility,License Re-Inspection,Pass,Risk 1 (High)
24989,Restaurant,Canvass,Pass,Risk 1 (High)
24990,Grocery Store,Canvass,Fail,Risk 2 (Medium)
24991,Restaurant,Canvass Re-Inspection,Pass,Risk 1 (High)
24992,School,Canvass,Pass,Risk 1 (High)
24993,Restaurant,Canvass,Fail,Risk 1 (High)
24994,Restaurant,Canvass,Pass,Risk 1 (High)
24995,Restaurant,Canvass,Fail,Risk 1 (High)
24996,Restaurant,Canvass,Pass,Risk 1 (High)
24997,Restaurant,License,Fail,Risk 1 (High)
24998,Restaurant,Complaint Re-Inspection,Pass,Risk 1 (High)
24999,Restaurant,Complaint,Pass w/ Conditions,Risk 1 (High)

Finally, we might want to exclude a column like `location` since we have the separate `latitude` and `longitude` columns. We can delete columns in a DataFrame using Python's built-in `del` statement.

In [50]:
del dta['location']

## Dealing with Types using csv Reader

We can do everything that we did above by providing options to `pd.read_csv`.

We saw before that `csv` reads everything in as strings, `json` does some type conversion with facility for doing more, and `pandas` does a bit more type conversion but it isn't always what we want. For example, we want the zip codes to stay strings.

Let's take a look at how to do with pandas `read_csv`. First, we can use the `parse_dates` argument to read in the larger inspections data sample and tell pandas that one of our columns is a date column. We'll also go ahead and make `inspection_id` the index.

In [51]:
dta = pd.read_csv(
    "data/health_inspection_chi.csv", 
    index_col="inspection_id",
    parse_dates=["inspection_date"]
)

Next, we want to turn the zip codes into strings. Here, we need to assume that the input (from the file) is a string as opposed to the above.

In [52]:
import numpy as np


def float_to_zip(zip_code):
    # convert from the string in the file to a float
    try:
        zip_code = float(zip_code)
    except ValueError:  # some of them are empty
        return np.nan
    
    # 0 makes sure to left-pad with zero
    # zip codes have 5 digits
    # .0 means, we don't want anything after the decimal
    # f is for float
    zip_code = "{:05.0f}".format(zip_code)
    return zip_code

In [53]:
float_to_zip('1234')

'01234'

In [54]:
float_to_zip('123456')

'123456'

As another example of defensive programming, we have to make sure that empty strings are handled.

In [55]:
float_to_zip('')

nan

We can supply this function to the `converters` argument.

In [56]:
dta = pd.read_csv(
    "data/health_inspection_chi.csv",
    converters={
        'zip': float_to_zip
    },
)

In [57]:
dta.head()

,address,aka_name,city,dba_name,facility_type,inspection_date,inspection_id,inspection_type,latitude,license_,location,longitude,results,risk,state,violations,zip
0,2804 N CLARK ST,Wells Street Popcorn,CHICAGO,Wells Street Popcorn,Restaurant,2010-02-01T00:00:00.000,68091,Canvass,41.932921,1954774.0,"{'type': 'Point', 'coordinates': [-87.64515454...",-87.645155,Pass,Risk 2 (Medium),IL,NaN,60657
1,6744 N SHERIDAN RD,RICE THAI CAFE,CHICAGO,RICE THAI CAFE,Restaurant,2015-08-21T00:00:00.000,1482935,Canvass Re-Inspection,42.004881,2354674.0,"{'type': 'Point', 'coordinates': [-87.66101071...",-87.661011,Pass,Risk 1 (High),IL,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,60626
2,160-164 E SUPERIOR ST,GINO'S EAST PIZZERIA,CHICAGO,GINO'S EAST PIZZERIA,Restaurant,2015-07-28T00:00:00.000,1447916,Suspected Food Poisoning Re-inspection,41.895863,1697132.0,"{'type': 'Point', 'coordinates': [-87.62325304...",-87.623253,Pass,Risk 1 (High),IL,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,60611
3,5844-5846 N BROADWAY,RAS DASHEN ETHIOPIAN RESTAURANT INC,CHICAGO,RAS DASHEN ETHIOPIAN RESTAURANT INC,Restaurant,2017-01-04T00:00:00.000,1978933,Canvass,41.988326,1122395.0,"{'type': 'Point', 'coordinates': [-87.66036036...",-87.660360,Fail,Risk 1 (High),IL,"16. FOOD PROTECTED DURING STORAGE, PREPARATION...",60660
4,2352-2358 N MILWAUKEE AVE,EAST ROOM,CHICAGO,EAST ROOM,Liquor,2013-11-18T00:00:00.000,1375515,License Re-Inspection,41.923873,2263696.0,"{'type': 'Point', 'coordinates': [-87.69916285...",-87.699163,Pass,Risk 3 (Low),IL,NaN,60647

To exclude location, we can take advantage of the fact that the `usecols` argument accepts a function to exclude `location`.

In [58]:
dta = pd.read_csv(
    "data/health_inspection_chi.csv",
    usecols=lambda col: col != 'location'
)

Here we are using a **lambda function** that returns `False` for the location parameter. Lambda functions are what are known as anonymous functions, because they don't have a name. This kind of thing is precisely their intended use.

Here we use a function `lambda x: x` to map the identity function over a list.

In [59]:
list(map(lambda x: x, [1, 2, 3]))

[1, 2, 3]

Finally, in a few cases we may want to take advantage of the pandas native `categorical` type. We can use the `dtype` argument for this, passing a dictionary of type mappings.

In [60]:
dta = pd.read_csv(
    "data/health_inspection_chi.csv",
    dtype={
        'results': 'category',
        'risk': 'category',
        'inspection_type': 'category',
        'facility_type': 'category'
    }
)

In [61]:
dta.risk.head()

0    Risk 2 (Medium)
1      Risk 1 (High)
2      Risk 1 (High)
3      Risk 1 (High)
4       Risk 3 (Low)
Name: risk, dtype: category
Categories (4, object): [All, Risk 1 (High), Risk 2 (Medium), Risk 3 (Low)]

## Exercise

Put all of the above `read_csv` options together in a single call to `read_csv`.

In [ ]:
# Type your solution here

In [ ]:
# %load solutions/pandas_read_csv.py
import numpy as np
import pandas as pd


def float_to_zip(zip_code):
    # convert from the string in the file to a float
    try:
        zip_code = float(zip_code)
    except ValueError:  # some of them are empty
        return np.nan

    # 0 makes sure to left-pad with zero
    # zip codes have 5 digits
    # .0 means, we don't want anything after the decimal
    # f is for float
    zip_code = "{:05.0f}".format(zip_code)
    return zip_code


dta = pd.read_csv(
    "data/health_inspection_chi.csv",
    index_col='inspection_id',
    parse_dates=['inspection_date'],
    converters={
        'zip': float_to_zip
    },
    usecols=lambda col: col != 'location',
    dtype={
        'results': 'category',
        'risk': 'category',
        'inspection_type': 'category',
        'facility_type': 'category'
    }
)


assert float_to_zip('1234')
assert float_to_zip('123456')
assert np.isnan(float_to_zip(''))

## String Cleaning

Ok, let's start to dig into the data a little bit more. One of the things we're going to be really interested in exploring is the free text of the violations field.

The first thing to notice is that the violations field has null values in it.

In [63]:
dta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 17 columns):
address            25000 non-null object
aka_name           24731 non-null object
city               24978 non-null object
dba_name           25000 non-null object
facility_type      24565 non-null category
inspection_date    25000 non-null object
inspection_id      25000 non-null int64
inspection_type    25000 non-null category
latitude           24822 non-null float64
license_           24999 non-null float64
location           24822 non-null object
longitude          24822 non-null float64
results            25000 non-null category
risk               24991 non-null category
state              24995 non-null object
violations         19538 non-null object
zip                24991 non-null float64
dtypes: category(4), float64(4), int64(1), object(8)
memory usage: 2.6+ MB

We may want to ask ourselves if these values are missing at random or if there is some reason there's no written violation field.

In [64]:
dta.loc[dta.violations.isnull()].head()

,address,aka_name,city,dba_name,facility_type,inspection_date,inspection_id,inspection_type,latitude,license_,location,longitude,results,risk,state,violations,zip
0,2804 N CLARK ST,Wells Street Popcorn,CHICAGO,Wells Street Popcorn,Restaurant,2010-02-01T00:00:00.000,68091,Canvass,41.932921,1954774.0,"{'type': 'Point', 'coordinates': [-87.64515454...",-87.645155,Pass,Risk 2 (Medium),IL,NaN,60657.0
4,2352-2358 N MILWAUKEE AVE,EAST ROOM,CHICAGO,EAST ROOM,Liquor,2013-11-18T00:00:00.000,1375515,License Re-Inspection,41.923873,2263696.0,"{'type': 'Point', 'coordinates': [-87.69916285...",-87.699163,Pass,Risk 3 (Low),IL,NaN,60647.0
9,2506 N LARAMIE AVE,Cuernavaca Bakery,CHICAGO,Cuernavaca Bakery,Bakery,2017-12-21T00:00:00.000,2129593,Canvass,41.926211,2192872.0,"{'type': 'Point', 'coordinates': [-87.75637041...",-87.756370,Out of Business,Risk 2 (Medium),IL,NaN,60639.0
10,131 N CLINTON ST BLDG BOOTH26,PAPPARDELLE'S PASTA,CHICAGO,PAPPARDELLE'S PASTA,Restaurant,2011-02-23T00:00:00.000,565226,Canvass,41.884188,2022121.0,"{'type': 'Point', 'coordinates': [-87.64111966...",-87.641120,Out of Business,Risk 1 (High),IL,NaN,60661.0
13,200 W MONROE ST,JERSEY MIKE'S SUBS,CHICAGO,JERSEY MIKE'S SUBS,Restaurant,2016-03-28T00:00:00.000,1684292,Canvass Re-Inspection,41.880769,2398227.0,"{'type': 'Point', 'coordinates': [-87.63387497...",-87.633875,Pass,Risk 1 (High),IL,NaN,60606.0

It looks like we're ok. The next thing to notice is that the violation field actually has a lot of violations in the same field for the same visit.

In [65]:
with pd.option_context("display.max_colwidth", 500):
    print(dta.violations.head())

0                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    NaN
1    32. FOOD AND NON-FOOD CONTACT SURFACES PROPERLY DESIGNED, CONSTRUCTED AND MAINTAINED - Comments: BROKEN RUBBER GASKET INSIDE THE DOORS OF DISPLAY FRONT COOLER.EXCESS GRAY TAPE HOLDING THE BROKEN RUBBER GASKET WITH DEBRIS AND BLACK SUBSTANCE ON IT,INSTRUCTED TO REPLACE. NEWSPAPER AND CARDBOARDS ON SHELVES THROUGHOUT THE PREMISES(FIRST AND SECOND FLOOR)CARD BOARDS AREA GREASY AND DUST BUILD-UP,INSTRUCTED TO REMOVE,SURFACE MUST BE SMOOTH,CLEANABLE AND NON-ABSORBENT MATERIAL.    | 33. FOOD AND N...
2    32. FOOD AND NON-FOOD CONTACT SURFACES PROPERLY DESIGNED, CONSTRUCTED AND MAINTAINED - Comments:  MUST INSTALL A SPLASH GUARD BETWEEN THE ICE BIN AND THE EXPOSED HAND SINK AND THE EXPOSED HAND SINK AND THE DRAIN BOARD FOR CLEAN GLASSES BEHIND THE 1ST FLOOR BAR. WORN OUT CAULK WITH BLACK MOLDY LIKE SUBSTANCE ON THE 2ND FLOOR 2 COMPARTMENT SINK, AND 3 COMPARTMENT SINK. MUST RE CAULK AND MAINTAIN. RUSTED WIRE RACK SHELVINGS INSIDE THE WALK IN COOLER ON THE 2ND FLOOR. MUST REMOVE RUST AND MAINTA...
3    16. FOOD PROTECTED DURING STORAGE, PREPARATION, DISPLAY, SERVICE AND TRANSPORTATION - Comments: FOOD(ICE) NOT PROTECTED DURING STORAGE.WE OBSERVED INTERIOR OF ICE MACHINE WATER RESERVOIR WITH EXCESS BLACK SLIME SUBSTANCE DRIPPING INTO WATER WHERE ICE IS MADE.INSTRUCTED TO CLEAN,SANITIZE AND MAINTAINED SAID UNIT. SERIOUS VIOLATION:7-38-005(A) | 32. FOOD AND NON-FOOD CONTACT SURFACES PROPERLY DESIGNED, CONSTRUCTED AND MAINTAINED - Comments: NO VENTILATION OR UNDER THE HOOD PROVIDED AT ONE BURN...
4                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    NaN
Name: violations, dtype: object

Let's split these out to make a longer DataFrame where each violation is a single row. Pandas provides a nice way to munge string data through the `str` accessor on string columns.

```python
dta.violations.str.<TAB>
```

## Exercise

Let's see how many violations we have per visit. What does the distribution of violations look like? Explore the methods on the `str` accessor and, perhaps, the `quantile` method.

In [ ]:
# Type your solution here

In [ ]:
# %load solutions/violation_distribution.py
import numpy as np
import pandas as pd


def float_to_zip(zip_code):
    # convert from the string in the file to a float
    try:
        zip_code = float(zip_code)
    except ValueError:  # some of them are empty
        return np.nan

    # 0 makes sure to left-pad with zero
    # zip codes have 5 digits
    # .0 means, we don't want anything after the decimal
    # f is for float
    zip_code = "{:05.0f}".format(zip_code)
    return zip_code


dta = pd.read_csv(
    "data/health_inspection_chi.csv",
    index_col='inspection_id',
    parse_dates=['inspection_date'],
    converters={
        'zip': float_to_zip
    },
    usecols=lambda col: col != 'location',
    dtype={
        'results': 'category',
        'risk': 'category',
        'inspection_type': 'category',
        'facility_type': 'category'
    }
)


quantiles = [0, .05, .25, .50, .75, .95, 1.00]
(dta.violations.str.count("\|") + 1).quantile(quantiles)

In [70]:
quantiles = [0, .05, .25, .50, .75, .95, 1.00]
(dta.violations.str.count("\|") + 1).quantile(quantiles)

0.00     1.0
0.05     1.0
0.25     2.0
0.50     3.0
0.75     5.0
0.95     9.0
1.00    23.0
Name: violations, dtype: float64

In [71]:
(dta.violations.str.count("\|") + 1)

0         NaN
1         6.0
2         5.0
3         6.0
4         NaN
5         2.0
6         4.0
7         2.0
8         2.0
9         NaN
10        NaN
11        6.0
12        1.0
13        NaN
14        NaN
15        1.0
16        7.0
17        NaN
18        3.0
19        NaN
20        4.0
21        2.0
22        NaN
23        1.0
24        6.0
25        1.0
26       13.0
27        NaN
28        2.0
29        6.0
         ...
24970     3.0
24971     3.0
24972     3.0
24973     1.0
24974     3.0
24975     2.0
24976     8.0
24977     9.0
24978     5.0
24979     3.0
24980     2.0
24981     8.0
24982     3.0
24983     NaN
24984     5.0
24985     9.0
24986     2.0
24987     2.0
24988     2.0
24989     2.0
24990     6.0
24991     NaN
24992     2.0
24993     6.0
24994     3.0
24995     6.0
24996     5.0
24997     1.0
24998     9.0
24999     5.0
Name: violations, Length: 25000, dtype: float64

Ok, we have a manageable number of violations. Let's split the violations and then turn them into a long DataFrame with a single row for each violation within each visit.

In [73]:
dta = dta.set_index('inspection_id')
violations = dta.violations.str.split("\|", expand=True)
violations.head()

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,22
inspection_id,,,,,,,,,,,,,,,,,,,,,
68091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1482935,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENS...,"34. FLOORS: CONSTRUCTED PER CODE, CLEANED, GO...","35. WALLS, CEILINGS, ATTACHED EQUIPMENT CONST...",36. LIGHTING: REQUIRED MINIMUM FOOT-CANDLES O...,"43. FOOD (ICE) DISPENSING UTENSILS, WASH CLOT...",None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1447916,32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENS...,"34. FLOORS: CONSTRUCTED PER CODE, CLEANED, GO...","35. WALLS, CEILINGS, ATTACHED EQUIPMENT CONST...",36. LIGHTING: REQUIRED MINIMUM FOOT-CANDLES O...,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1978933,"16. FOOD PROTECTED DURING STORAGE, PREPARATION...",32. FOOD AND NON-FOOD CONTACT SURFACES PROPER...,33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENS...,"34. FLOORS: CONSTRUCTED PER CODE, CLEANED, GO...","35. WALLS, CEILINGS, ATTACHED EQUIPMENT CONST...",38. VENTILATION: ROOMS AND EQUIPMENT VENTED A...,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1375515,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

When we `unstack` the DataFrame, we're left with what's called a `MultiIndex`. This index has two *levels* now. One is the original `inspection_id`. The other is the, rather meaningless, column names.

In [74]:
violations.unstack().head()

   inspection_id
0  68091                                                          NaN
   1482935          32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...
   1447916          32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...
   1978933          16. FOOD PROTECTED DURING STORAGE, PREPARATION...
   1375515                                                        NaN
dtype: object

Let's get rid of the empty rows first.

In [75]:
violations = violations.unstack().dropna()

In [77]:
violations.head()

   inspection_id
0  1482935          32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...
   1447916          32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...
   1978933          16. FOOD PROTECTED DURING STORAGE, PREPARATION...
   1434800          33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...
   1106632          32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...
dtype: object

Now we can drop the column name level, which we don't need.

In [78]:
violations.reset_index(level=0, drop=True, inplace=True)

In [79]:
violations.head()

inspection_id
1482935    32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...
1447916    32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...
1978933    16. FOOD PROTECTED DURING STORAGE, PREPARATION...
1434800    33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...
1106632    32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...
dtype: object

One last cleaning step may be helpful here. When we split on the pipe ('`|`'), we likely kept some surrounding whitespace. We can remove that.

In [80]:
violations.str.startswith(" ").any()

True

In [81]:
violations.str.strip().head()

inspection_id
1482935    32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...
1447916    32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...
1978933    16. FOOD PROTECTED DURING STORAGE, PREPARATION...
1434800    33. FOOD AND NON-FOOD CONTACT EQUIPMENT UTENSI...
1106632    32. FOOD AND NON-FOOD CONTACT SURFACES PROPERL...
dtype: object

In [82]:
violations = violations.str.strip()

In [ ]:
((violations.str.startswith(" ").any()) | 
 (violations.str.endswith(" ").any()))

Later, we'll see how to combine these violations back with our original data to do some analysis.

## Working with Dates and Categoricals

Above, we used the `str` accessor on the DataFrame. This isn't the only convenient accessor that pandas provides. There is also the `dt` accessor for datetime types and the `cat` accessor for categorical types.

```python
dta.inspection_date.dt.<TAB>
```

In [ ]:
dta.inspection_date.head()

In [ ]:
dta.inspection_date.dt.month.head()

Now, let's take a look at the categorical types.

```python
dta.risk.cat.<TAB>
```

In [ ]:
dta.risk.head()

In [ ]:
dta.risk.cat.codes.head()